.container {
    max-width: 36rem;
    padding: 20px 1rem;
    margin: 3rem auto 6rem;
    box-shadow: 5px 10px 5px 10px gray;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }